<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOSFont.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A2CC1FA81EE00E7400B22B7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2CC1FBC1EE00E7700B22B7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2CC1FC71EE00E7700B22B7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
